div.FeaturedProducts {
    background-color: #fff;
    overflow-x: auto;
    overflow-y: hidden ;
    white-space: nowrap;
    margin: 2em 3em;
    scrollbar-width: thin;
}

div.FeaturedProducts div {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}

div.FeaturedProducts img {
    padding-right: 0.7em;
    height: 25em;
    width: 25em;
}
div.FeaturedProducts .price {
    padding-left: 0.2em;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: -0.3em;
}

.FeaturedProductsDescription{
    padding-left: 0.4em;
    /*font-size: 1.5em;*/
    font-weight: 400;
    margin-top: -1.3em;
}

div.FeaturedProducts img:hover {
    transform: scale(1.07);
    transition: transform 0.2s;
    border: 1px solid #000;
}

div.FeaturedProducts h4 {
    padding-left: 0.4em;
}