/* Styles de base pour les écrans larges */
.newArrivalImageContainer {
    border: 3px solid #64b5f6;
    border-radius: 59% 41% 72% 28% / 53% 29% 71% 47%;
    /*background-color: #b2dfdb;*/
    width: 90%;
    height: 650px;
    position: relative;
}

.newArrivalImage {
    width: 70%;
    margin-top: 20%;
    background: none;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.newArrivalImage:hover {
    /*// zoomer l'image*/
    transform: scale(1.3);
    cursor: pointer;
}

.exchangeImages {
    display: flex;
    width: 90%;
}

.exchangeImage {
    width: 200px; /* Ajustez la largeur des miniatures selon vos besoins */
    height: 150px; /* Ajustez la hauteur des miniatures selon vos besoins */
    border-radius: 35% 65% 52% 48% / 44% 30% 70% 56%;
    margin-right: 2em;
    z-index:1;
    cursor: pointer;
}

.exchangeImage img {
    width: 70%;
    height: auto;
    margin-top: 1em;
}

/* Media query pour les écrans de taille moyenne (par exemple, tablettes) */
@media only screen and (max-width: 1024px) {
    .newArrivalImageContainer {
        width: 100%; /* Ajustez la largeur selon vos besoins */
        height: 50vh; /* Ajustez la hauteur pour conserver le ratio */
    }

    .newArrivalImage {
        width: 10em; /* Ajustez la largeur selon vos besoins */
        margin-top: 15%; /* Ajustez la marge selon vos besoins */
    }
}

/* Media query pour les écrans plus petits (par exemple, smartphones) */
@media only screen and (max-width: 768px) {
    .newArrivalImageContainer {
        width: 100%; /* Ajustez la largeur selon vos besoins */
        height: 60vh; /* Ajustez la hauteur pour conserver le ratio */
    }

    .newArrivalImage {
        width: 65%; /* Ajustez la largeur selon vos besoins */
        margin-top: 7%; /* Ajustez la marge selon vos besoins */
    }


}

